* {
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #181A1B;
    font-size: 20px;
    scroll-behavior: smooth;
    word-wrap: break-word;
    color: white;
}

#container {
    min-height: 100%;
    max-width: 100%;
}

#header {
  background-color: rgba(17, 17, 17, 0.6);
  color: white;
  position: relative;
  clear: both;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 10px;
  border-radius: 0px 0px 30px 30px;
  width: fit-content;
  max-width: 100%;
}

#logo {
  margin: 0px;
}

#main {
    background-color: rgb(81, 98, 255);
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

#toggle {
  margin: 5px;
}
/* transform: rotate(-90deg); cursor: pointer;*/

.toggle {
  transition: all .4s cubic-bezier(0,.5,0,1);
}
.toggle.open {
  transform: rotate(-180deg);
}

a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
    background-size: 100% 2px;
  }

#article {
    background-color: rgba(17, 17, 17, 0.6);
    margin: 15px;
    border-radius: 15px;
    padding: 20px;
}

#footer {
    background-color: rgba(17, 17, 17, 0.6);
    color: white;
    position: relative;
    clear: both;
    height: 40px;
    margin-top: 15px;
    text-align: center;
    padding: 25px;
    padding-bottom: 0px;
    margin: 0px auto;
    border-radius: 30px 30px 0px 0px;
    width: fit-content;
    max-width: 100%;
}


#discord-icon {
    height: 25px;
    vertical-align: text-bottom;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1C1E1F;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3A3E40;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* Animation du menu */
.slide-in {
    z-index: 20; /* to position it in front of the other content */
    position: absolute;
    overflow: hidden; /* to prevent scrollbar appearing */
  }
  
  .slide-in.from-left {
    left: 0;
  }
  
  .slide-in.from-right {
    right: 0;
  }

  .slide-in.from-top {
    margin: -20px auto;
    width: 100%;
  }
  
  .slide-in-content {
    transition: transform .8s ease; /* our nice transition */
  }
  
  .slide-in.from-left .slide-in-content {
    transform: translateX(-86%);
    -webkit-transform: translateX(-86%);
  }
  
  .slide-in.from-right .slide-in-content {
    transform: translateX(86%);
    -webkit-transform: translateX(86%);
  }

  .slide-in.from-top .slide-in-content {
    transform: translateY(-55%);
    -webkit-transform: translateY(-55%);
  }
  
  .slide-in.show .slide-in-content {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  ul.damenu {
    padding: 10px;
    list-style: none;
  }
  ul.damenu li {
    display: inline;
  }
  ul.damenu li+li:before {
    padding: 8px;
    content: "-\00a0";
  }
  ul.damenu li a {
    text-decoration: none;
  }
  /*ul.damenu li a:hover {
    text-decoration: underline;
  }*/