* {
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #181A1B;
    font-size: 20px;
    scroll-behavior: smooth;
}

#container {
    min-height: 100%;
    word-wrap: break-word;
    color: white;
}

#main {
    padding: 10px;
    background-color: rgba(17, 17, 17, 0.6);
    text-align: center;
    border-radius: 20px 0px 0px 20px;
}

a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
    background-size: 100% 2px;
  }

#article {
    background-color: rgba(17, 17, 17, 0.6);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
    margin-left: 20vmax;
    margin-right: 20vmax;
}

#footer {
    background-color: rgba(17, 17, 17, 0.6);
    color: white;
    position: relative;
    clear: both;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    padding-top: 25px;
    margin-left: 20vmax;
    margin-right: 20vmax;
    border-radius: 30px 30px 0px 0px;
}


#discord-icon {
    height: 25px;
    vertical-align: text-bottom;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1C1E1F;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3A3E40;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* Animation du menu */
.slide-in {
    z-index: 10; /* to position it in front of the other content */
    position: absolute;
    overflow: hidden; /* to prevent scrollbar appearing */
  }
  
  .slide-in.from-left {
    left: 0;
  }
  
  .slide-in.from-right {
    right: 0;
  }
  
  .slide-in-content {
    transition: transform .8s ease; /* our nice transition */
  }
  
  .slide-in.from-left .slide-in-content {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  
  .slide-in.from-right .slide-in-content {
    transform: translateX(85%);
    -webkit-transform: translateX(85%);
  }
  
  .slide-in.show .slide-in-content {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

#toggle {
    margin: 5px;
}
 /* transform: rotate(-90deg); cursor: pointer;*/

.toggle {
    transition: all .4s cubic-bezier(0,.5,0,1);
}
  .toggle.open {
    transform: rotate(-90deg)
  }